.content .searchbar {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 22px;
  position: relative;
}

.content .searchbar input {
  background: inherit;
  width: 346px;
  max-width: 100%;
  font-size: 24px;
  font-weight: 200;
  color: white;
  padding-left: 6px;
  caret-color: #fc4747;
}

.content .searchbar input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.content .searchbar input:focus-visible {
  outline: none;
}

.content .searchbar img {
  width: 32px;
  height: 32px;
}

.content .searchbar img.line {
  width: calc(100% - 92px);
  position: absolute;
  bottom: -26px;
  left: 69px;
}
