.sidebar {
  background-color: #161d2f;
  border-radius: 20px;
  padding: 28px 32px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  position: sticky;
  margin-bottom: 72px;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  top: 36px;
  min-width: fit-content;
}

.sidebar .icon-group {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sidebar .icon-group img:hover {
  filter: invert(46%) sepia(47%) saturate(5950%) hue-rotate(335deg)
    brightness(100%) contrast(97%);
  cursor: pointer;
}
.sidebar .icon-group img.page-accessed:hover,
.page-accessed {
  filter: brightness(0) saturate(100%) invert(99%) sepia(48%) saturate(171%)
    hue-rotate(225deg) brightness(118%) contrast(100%);
}

.sidebar img {
  height: 20px;
  width: 20px;
}

.sidebar img.logo {
  width: 26px;
  height: 20px;
}
.sidebar img.avatar {
  width: 28px;
  height: 28px;
}

@media only screen and (max-width: 820px) {
  .sidebar {
    height: 72px;
    width: 93vw;
    flex-direction: row;
    margin-bottom: 0;
    z-index: 100;
    margin-left: 0;
    position: fixed;
  }

  .sidebar .icon-group {
    flex-direction: row;
  }
}

@media only screen and (max-width: 480px) {
  .sidebar {
    top: 0;
    border-radius: 0;
    width: 100%;
  }
}
