.trending-card-list {
  margin-top: 36px;
  color: white;
}

.trending-card-list p:first-child {
  font-size: 32px;
  letter-spacing: -0.05em;
  font-weight: 300;
  margin-bottom: 1rem;
}

.trending-card {
  width: 470px;
  height: 230px;
  border-radius: 8px;
  background-color: white;
}
